.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: solid 1px #f00; */
    gap: 10px;
}

.card{
     /* border: solid 1px #f00; */
     border-radius: 10px;
     background-color: var(--card-color);
     position: relative;
     transition: transform 0.2s;
     box-shadow: 0 2px 5px 2px var(--shadow);
}

.card img{
    width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      object-fit: cover;
}

.card-info{
   padding: 12px 4px 4px;
   background-color:var(--background-color) ;

}

.card-title{
    font-size: 15px;
    font-weight: 600;
    background-color: var(--background-color);
}

.card-category{
    margin-top: 5px;
    font-size: 13px;
    color: var(--category-color);
}
.save-button{
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    background-color: #e66023;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
}

.card:hover .save-button{
   opacity: 1;
}

.card:hover{
    transform: scale(1.015);
}