@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /*verde*/
    --primary-50: #f6f6ef;
    --primary-100: #ebebdc;
    --primary-200: #d8d9bd;
    --primary-300: #bfc195;
    --primary-400: #a4a873;
    --primary-500: #888d55;
    --primary-600: #6a6f41;
    --primary-700: #525635;
    --primary-800: #43462e;
    --primary-900: #3a3d2a;
    --primary-950: #1e2013;
    /*roxo*/
    --secondary-50: #f0f2fd;
    --secondary-100: #e4e7fb;
    --secondary-200: #cdd2f8;
    --secondary-300: #b5baf3;
    --secondary-400: #8f8fea;
    --secondary-500: #7b73e1;
    --secondary-600: #6a58d3;
    --secondary-700: #5c49b9;
    --secondary-800: #4b3d96;
    --secondary-900: #403877;
    --secondary-950: #272145;

    --sidebar-width: 240px;
    --header-height: 60px;
    /*--pink-orchid: #d8b4e2;
    --midnight-violet: #210b2c;
    --velvet-orchid: #55286f;
    --wisteria: #bc96e6;
    --pastel-purple: #b19cd9;
    --pink-champagne: #e6ddfb;
    --foundation-white: #eeeafc;
    --ghost-white: #f0f3f9;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms ease-out;
}

body {
    font-family: "Figtree", "Montserrat", sans-serif;
    color: var(--primary-400);
    background-color: var(--primary-50);
}

.menu i {
    padding-right: 8px;
}

.sidebar {
    border-right: 1px solid var(--primary-200);
    width: var(--sidebar-width);
    height: 100vh;
    padding: 18px 12px;
    position: fixed;
    z-index: 2;
}

.logo {
    gap: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-icon {
    background-color: var(--primary-500);
    color: var(--primary-50);
    height: 40px;
    width: 40px;
    font-size: 22px;
    border-radius: 50%;
}

.logo-text {
    font-size: 26px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.menu,
.menu ul {
    gap: 8px;
    display: flex;
    flex-direction: column;
}*/

.menu a {
    /*border: 1px solid var(--midnight-violet);*/
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    display: block;
}

.menu a:hover {
    background-color: var(--primary-900);
    font-weight: 700;
    color: var(--primary-100);
}

.menu a.active {
    background-color: var(--primary-950);
    color: var(--primary-400);
}

.menu li {
    width: 100%;
    padding: 10px;
    padding-left: 0;
    list-style: none;
}

.menu > a {
    background-color: var(--primary-100);
    width: calc(100% - 10px);
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

button {
    background-color: transparent;
}

a {
    color: var(--primary-400);
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 10px;
}

.profile-image {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: var(--primary-100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile-name {
    font-size: 14px;
}

.profile-text {
    margin-top: 3px;
    font-size: 12px;
    color: var(--primary-400);
    font-weight: 100;
}

/*barra superior*/
.topbar {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    height: var(--header-height);
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-50);
    z-index: 1;
}

.search-box {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--primary-100);
    border-radius: 28px;
    width: 80%;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    color: var(--primary-400);
    background-color: transparent;
    outline: none;
}

.search-box i {
    margin: 12px;
}

.topbar-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topbar-actions button {
    cursor: pointer;
    border: none;
    color: var(--primary-400);
}

.topbar-actions i {
    position: relative;
}

.topbar-actions i::after {
    content: attr(data-tooltip);
    background-color: var(--primary-900);
    color: var(--primary-100);
    padding: 6px 10px;
    font-family: Figtree;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    white-space: nowrap;
    border-radius: 8px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    top: 20px;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.topbar-actions i:hover::after {
    opacity: 1;
    visibility: visible;
}

.content {
    margin-left: var(--sidebar-width);
    padding-top: calc(var(--header-height) + 16px);
    background-color: var(--primary-100);
}

.grid {
    /*padding: 0 16px;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card {
    position: relative;
    box-shadow: 0 0 4px 0;
    scale: 95%;
    border-radius: 8px;
    background-color: var(--primary-50);
}

.card:hover {
    scale: 100%;
    box-shadow: 0 0 8px 0;
}

.card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.save-button {
    position: absolute;
    cursor: pointer;
    background-color: var(--secondary-700);
    color: var(--secondary-50);
    font-weight: 600;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    top: 12px;
    right: 12px;
    opacity: 0;
}

.save-button:hover {
    background-color: var(--secondary-900);
}

.card:hover .save-button {
    opacity: 1;
}

.card-info {
    padding: 16px 8px 4px;
    background-color: var(--primary-50);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-title {
    font-size: 15px;
    font-weight: 600;
}

.card-category {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}

.depositions {
    margin-top: 32px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--primary-200);
}

.depositions-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    place-items: center;
}

.depositions-header h1 {
    color: var(--primary-700);
    font-weight: 700;
}

.depositions-header p {
    width: 50%;
    justify-self: center;
    font-weight: 300;
}

.card-depositions {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
}

.content-depositions {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 0 4px 0;
    border-radius: 16px;
    background-color: var(--primary-50);
    justify-content: center;
    align-items: center;
    min-height: 330px;
}

.content-depositions:hover {
    box-shadow: 0 0 8px 0;
    transform: translateY(-8px);
}

.quote-icon {
    position: absolute;
    font-size: 128px;
    color: var(--primary-200);
    font-family: "Alex Brush";
    top: -32px;
    right: 16px;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 2px var(--secondary-700);
}

.deposition-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 12px;
}

.deposition-info h1 {
    font-size: 16px;
}

.deposition-role {
    font-size: 14px;
}

.deposition-info p {
    font-size: 12px;
}

.stars {
    margin: 12px 0;
    color: var(--secondary-300);
}

.footer {
    width: 100%;
    height: 256px;
    background-color: var(--primary-950);
    display:flex;
}
